<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li><a href="#">Log out</a></li>
            </ul>
            <a class="brand" href="http://mydevnull.net/publier">publier</a>
        </div>
    </div>
</div>
