set up site


<form action="" method="post">
    <fieldset>
        <legend>Site</legend>

        <label>Name: <input type="text" name="name" /></label>
        <label>Description: <input type="text" name="description" /></label>
        <label>Domain: www.<input type="text" name="domain" /></label>
    </fieldset>
    <fieldset>
        <legend>User</legend>

        <label>Username: <input type="text" name="username" /></label>
        <label>Email: <input type="text" name="email" /></label>
        <label>Password: <input type="password" name="password" /></label>
        <label>Password ( again ): <input type="password" name="password_again" /></label>
    </fieldset>

    <input type="submit" name="submit" value="save" />
</form>
